@import "./src/assets/sass/variables";

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 0;
  width: 102px;

  height: 16px;

  .checkbox__input {
    margin-left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox__input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .checkbox__input + label::before {
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 2px solid #AFB6C6;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 0.2s linear;
  }

  .checkbox__input:checked + label::before {
    border-color: #00A0EC;
    background-color: #fff;
    background-image: url("../../assets/images/check.svg");
    background-size: contain;
    transition: all 0.2s linear;
  }

  .checkbox__input:disabled + label::before {
    border-color: $inputPlaceholder;
    transition: all 0.2s linear;
  }

  .checkbox__input:disabled:checked + label::before {
    background-color: $inputPlaceholder;
    border-color: $inputPlaceholder;
    transition: all 0.2s linear;
  }

  .checkbox__label {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    align-items: center;
    color: #1E212A;
    cursor: pointer;

    &:hover {
      color: #00A0EC;
    }
  }
}