$bgPrimary: #FFF;
$bgSecondary: #FBFBFB;
$titlePrimary: #231F20;
$btnBgc: #009CB4;
$btnBgHover: #01B8D5;
$btnBgActive: #01BEDB;
$primaryText: #4D4D4F;
$footerText: #676A71;
$footerTextSec: #A8AAAE;
$primaryBorder: #EDEDF4;
$inputBorderHover: #A8AAAE;
$inputPlaceholder: #C6C6C6;
$inputFocus: #F6F6F9;
$inputBgc: #F9F9FB;
$labelCol: #999;
$error: #E0371F;
$check: #00B347;
$titleSize: 36px;